@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --bg-color: #ffe3be;
  --primary-color: #ff9100;
  --secondary-color: #ead8c0;
  --accent-color: #8b5e3c;
  --text-main: #2d2d2d;
  --text-muted: #6c757d;
}

* {
  font-family: "Poppins", sans-serif;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
